@using DAModels = DatabaseAccess.Models;
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.AspNetCore.Components.Web;

@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpFactory

<ul class="nav nav-pills">
    <li class="nav-item">
        <button class="btn btn-outline-primary" 
            @onclick="@(() => this.SelectedTab = SelectedTabType.Details)">Детальная информация</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-outline-secondary" 
            @onclick="@(() => this.SelectedTab = SelectedTabType.Employee)">Работа/Учеба</button>
    </li>
</ul>

<div class="container">
    @switch(this.SelectedTab)
    {
    case SelectedTabType.Details:
    <div class="row">
        <div class="col-4 gx-4">
            <label for="contact-surname" class="form-label">Фамилия:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Введите вашу фамилию" aria-describedby="basic-addon2"
                    id="contact-name" @bind-value="@this.Contact.Surname">
            </div>
        </div>
        <div class="col-4 gx-4">
            <label for="contact-name" class="form-label">Имя:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Введите ваше имя" aria-describedby="basic-addon2" 
                    id="contact-name" @bind-value="@this.Contact.Name">
            </div>
        </div>
        <div class="col-4 gx-4">
            <label for="contact-patronymic" class="form-label">Отчество:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Введите ваше отчество" aria-describedby="basic-addon2"
                    id="contact-patronymic" @bind-value="@this.Contact.Patronymic">
            </div>
        </div>
    </div>
        break;
    case SelectedTabType.Employee:
        
        break;
    }   
</div>

<form method="post" action="user/profile">
    <input type="hidden" name="name" value="@this.Contact.Name"/>
    <input type="submit" value="Сохранить"/>
</form>

@code {
    [ParameterAttribute] public DAModels::Contact Contact { get; set; } = default!;
    public enum SelectedTabType : sbyte { Details, Employee, Quality, Hobby }

    public SelectedTabType SelectedTab { get; set; } = default;
}